CREATE TABLE IF NOT EXISTS lead_comments ( id uuid PRIMARY KEY DEFAULT gen_random_uuid(), lead_id uuid NOT NULL REFERENCES leads(id) ON DELETE CASCADE, author_id varchar(255) NOT NULL, author_name varchar(255), body text NOT NULL, is_system boolean NOT NULL DEFAULT false, created_at timestamp NOT NULL DEFAULT now() ); CREATE INDEX IF NOT EXISTS idx_lead_comments_lead_id ON lead_comments(lead_id);
